.img-upload__field-wrapper {
  position: relative;
  margin-bottom: 35px;
}

.text__hashtags {
  width: 100%;
  margin-bottom: 15px;
}

.text__description {
  resize: vertical;
  min-height: 100px;
  width: 100%;
}

.text__hashtags:focus,
.text__description:focus {
  border-color: #ff4e4e;
  outline: none;
}

.img-upload__error {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  bottom: -25px;
  color: #ff4e4e;
  font-size: 12px;
  font-weight: bold;
  left: 0;
  padding: 5px 8px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 100;
}

.img-upload__text {
  padding-bottom: 20px;
}
